*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear{
    clear: both;
}

html,body{
	height: 100%;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Selna';
    src: url('./fonts/selna-7440006/Selna\ Regular.ttf');
}

/***/

/* HEADER */

header{
    padding: 20px 2%;
}


/*search*/
.top .search img{
    height: 15px;
    width: auto;
    padding-right: 15px;
    cursor: pointer;
}

.top .search input[type=text]{
    background-color: rgb(207, 175, 159);
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(194, 153, 132);
    padding: 2px 5px;
}

input[type=text]::placeholder{
    color: rgb(167, 120, 96);
}

/*logo*/
header .container .logo h2{
    font-size: 52px;
    padding: 0 50px;
    font-family: 'Selna';
    font-weight: 400;
    color: #1D1B19;
    margin: 0 auto;
}

/*menu*/
.menu{
    display: flex;
    align-items: center;
}
header nav.menu ul{
    list-style-type: none;
    padding: 18PX 0PX;
    display: flex;
}

header nav.menu ul li{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

header nav.menu a{
    text-decoration: none;
    color: #1D1B19;
}

.top{
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgba(194, 153, 132, 0.781);
 }
 
 .header-wraper{
     width: 70%;
     display: flex;
 }

/* CONTEUDO */
.conteudo{
    height: 700px;
    display: flex;
    align-items: center;
    padding-top: 40px;
}
/*img*/
header .conteudo .img-conteudo{
    width: 50%;
    max-height: 800px;
    float: left;
    padding: 0 2%;
    margin-top: -20px;
}

header .conteudo .img-conteudo img{
    width: auto;
    height: 100%;
}

/*text*/
header .conteudo-wraper{
    float: right;
    width: 50%;
    text-align: center;
    
}

header .conteudo-wraper img{
    width: 48px;
    height: 48px;
    margin-bottom: 26px;
}

header .conteudo-wraper .texto-conteudo h2{
    font-family: 'Selna';
    font-size: 62px;
    font-weight: 400;
    color: #1D1B19;
}

/*loja*/
main{
    padding: 0 4%;
}

section.favoritos{
    padding-top: 120px;
}

.container-itens1{
    display: flex;
    justify-content: space-around;
}

section.favoritos .titulo-chamada{
    width: 100%;
}

section.favoritos .titulo-chamada h2{
    float: left;
    font-family: 'Selna';
    font-size: 50px;
    font-weight: 400;
    color: #1D1B19;
}

section.favoritos .titulo-chamada p{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 25px;
}

section.favoritos .titulo-chamada a{
    color: #1D1B19;
}

/* BOX */
.box{
    background-color: rgb(207, 175, 159);
    position: relative;
    margin-top: -100px;
    margin-left: -15px;
    width: 110%;
    height: 120px;
    position: relative;
    z-index: 1;
}

/* ITENS */
section.itens-1 .itens-wraper{
    width: 33.3%;
    font-family: Arial, Helvetica, sans-serif;
}

section.itens-1 .info-loja{
    position: absolute;
    display: block;
    margin-top: -100px;
    z-index: 999;
    margin-left: 300px;
}

section.itens-1 .itens-wraper h2{
    font-size: 18px;
    font-weight: 400;
    color: #1D1B19;
}

section.itens-1 .itens-wraper p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(29, 27, 25, 0.72);
   
}

section.itens-1 .itens-wraper img{
    width: 70%;
    position: relative;
    z-index: 999;
}

#item1{
    float: left;
    padding-top: 60px;
    z-index: 1;
}

#item2{
    float: right;
    padding-top: 60px;
}

#item3{
    margin: 0 auto;
    padding-top: 60px;
}


/* CHAMADA */
section.chamada > .container{
    padding: 0px 4% 120px 4%;
    margin-top: -100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.chamada .chamada-wraper{
    width: 30%;
    height: 100%;
}

.chamada-wraper .img img{
    width: 80%;
}

section.chamada .chamada-wraper .text-chamada h2{
    font-size: 40px;
    line-height: 80px;
    margin-top: 35vh;
    text-align: center;
    font-weight: 400;
    font-family: 'Selna';
    float: left;
    padding-left: 10px;
}

#img2{
    margin-top: 70vh;
}

/* ABOUT */
section.about{
    padding: 30px 4% 0px 4%;
    border-top: 4px solid rgb(207, 175, 159);
}

section.about .text{
    width: 50%;
    float: left;
    padding-top: 80px;
}

section.about .text h2{
    font-size: 50px;
    padding-bottom: 50px;
    letter-spacing: 15px;
    font-weight: 400;
    font-family: 'Selna';
    color: #1D1B19;
}

section.about .text p{
    width: 90%;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D1B19;
}

section.about .img-about{
    width: 45%;
    float: right;
}

section.about img{
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

/**/