*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear{
    clear: both;
}

html,body{
	height: 100%;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Selna';
    src: url('./fonts/selna-7440006/Selna\ Regular.ttf');
}

/***/

/* HEADER */

header{
    padding: 20px 2%;
}

/*menu 1*/
header nav.menu1{
    float: left;
}

header nav.menu1 ul{
    list-style-type: none;
    padding: 18px 0px;
}

header nav.menu1 ul li{
    float: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

header nav.menu1 a{
    text-decoration: none;
    color: #1D1B19;
}

/*logo*/
header .container .logo{
    text-align: center;
}

header .container .logo h2{
    font-size: 52px;
    font-family: 'Selna';
    font-weight: 400;
    color: #1D1B19;
    margin: 0 auto;
}

/*menu 2*/
header nav.menu2{
    float: right;
}

header nav.menu2 ul{
    list-style-type: none;
    padding: 18PX 0PX;
}

header nav.menu2 ul li{
    float: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

header nav.menu2 a{
    text-decoration: none;
    color: #1D1B19;
}

/* CONTEUDO */
.conteudo{
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
/*img*/
header .conteudo .img-conteudo{
    width: 50%;
    max-height: 800px;
    float: left;
    padding: 0 2%;
}

header .conteudo .img-conteudo img{
    width: auto;
    height: 100%;
}

/*text*/
header .conteudo-wraper{
    float: right;
    width: 50%;
    text-align: center;
    
}

header .conteudo-wraper img{
    width: 48px;
    height: 48px;
    margin-bottom: 26px;
}

header .conteudo-wraper .texto-conteudo h2{
    font-family: 'Selna';
    font-size: 62px;
    font-weight: 400;
    color: #1D1B19;
}

/*loja*/
main{
    padding: 0 4%;
}

.container-itens1{
    display: flex;
    justify-content: space-around;
}

section.chamada .titulo-chamada{
    width: 100%;
    padding-left: 66px;
    padding-right: 64px;
    text-transform: uppercase;
}

section.chamada .titulo-chamada h2{
    float: left;
    font-family: 'Selna';
    font-size: 50px;
    padding-top: 144px;
    font-weight: 400;
    line-height: 85px;
    color: #1D1B19;
}

section.chamada .titulo-chamada p{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 167px;
    font-weight: 400;
    line-height: 23px;
}

section.chamada .titulo-chamada a{
    color: #1D1B19;
}

/* ITENS */

section.itens-1 .itens-wraper{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

section.itens-1 .itens-wraper h2{
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    color: #1D1B19;
}

section.itens-1 .itens-wraper p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(29, 27, 25, 0.72);
}

section.itens-1 .itens-wraper img{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

#item1{
    float: left;
    margin-top: 71px;
}

#item2{
    float: right;
    margin-top: 71px;
}

#item3{
    margin: 0 auto;
    margin-top: 50px;
}